<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <a href="/check_db_size">> Check DB Size</a>   <br>
    <a href="/update_nodes">> Update Nodes</a> <br>

    <form action="/send_query" method="POST">
        <p><label for="query">SQL Statement:</label></p>
        <textarea id="query" name="input_query" rows="4" cols="50" placeholder="<Insert SQL statement here>"></textarea>
        <br>
        <input type="submit" value="Send Query">
    </form>


</body>
</html>